:root {
  --primary: #0a8754;
  --blanco: #ffffff;
  --secundary: #bcffdb;
  --grafica: #00ca71;
  --azul: #3b82f6;
  --gris-claro: #f5f5f5;
} /* Creamos las variables globales en root */
html {
  font-size: 62.5%;
  box-sizing: border-box; /* Para que funcione el rem */
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  appearance: none;
  box-sizing: inherit;
  font-family: "Rubik", sans-serif;
  /*Normalizamos */
}
body {
  font-size: 16px;
  /* Esto lo que hace es que 1rem equivalga a 10px */
  background-color: var(--gris-claro);
}
.sombra { /*Componente sombra utilizado en todos los contenedores */
  box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
  background-color: var(--blanco);
  padding: 4rem;
  border-radius: 1.2rem;
}
.header-layout { /*Útil para todo el header / layout de la página*/
  background-color: var(--primary);
  padding: 2rem 0 3rem 0;
  display: grid;
  justify-items: center;
  row-gap: 5rem;
}
.titulo-app { /* Titulo principal */
  font-size: 6rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--blanco);
  text-align: center;
}
.nav-principal { /* Navegacion principal */
  display: flex;
  align-items: flex-end;
  gap: 13vw;
}
.nav-principal a {
  text-decoration: none;
  color: var(--blanco);
  text-transform: uppercase;
  transition: font-size 0.3s 0.1s;
}
.activo { /* Estilo para el enlace cuando esté en su page */
  font-weight: 500;
  font-size: 2.5rem;
}
.nav-principal a:not(.activo):hover { /* Estilo para el enlace cuando se le haga hover */
  font-size: 1.7rem;
}
.contenedor-outlet { /* Donde va el resto del contenido que no es el header */
  padding: 5rem 0;
}
.dieta-main { /* Estilos pagina de inicio */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  padding: 0 5rem;
}
@media (min-width: 1310px) { /* Estilos para pantallas grandes, ya que el estilo base es mobile */
  .dieta-main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: flex-start;
  }
}
.contenedor-grafica { /* Donde irá la grafica */
  display: grid;
  justify-items: center;
  gap: 5rem;
  width: 90vw;
}
@media (min-width: 768px) { /* Estilos para pantallas medianas, ya que el estilo base es mobile */
  .contenedor-grafica {
    width: 50vw;
  }
}
@media (min-width: 1310px) { /* Estilos para pantallas grandes, ya que el estilo base es mobile */
  .contenedor-grafica {
    grid-column: 1 / 4;
    width: auto;
  }
}
.sub-titulo { /* Estilos para los sub-titulos, generalmente h2 */
  font-size: 4rem;
  text-align: center;
  text-transform: capitalize;
}
.CircularProgressbar .CircularProgressbar-text { /* Estilos para el paquete de la gráfica circular */
  font-size: 0.8rem !important; /* Para que no se vea demasiado grande, hemos de usar el !important para sobreescribir el css de base del paquete */
  font-weight: 600;
}
.comidas { /* Estilos para la lista de comidas */
  overflow-y: scroll;
  padding: 1rem;
  height: 110vh;
  display: flex;
  flex-direction: column;
  grid-column: 4 / 8;
  gap: 5rem;
}
.comida { /* Estilos para cada comida individual */
  padding: 2rem;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  cursor: pointer;
}
@media (min-width: 690px) { /* Estilos para pantallas medianas, ya que el estilo base es mobile */
  .comida {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}
.contenido-comida { /* Estilos para el contenido de cada comida */
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
}
@media (min-width: 690px) { /* Estilos para pantallas medianas, ya que el estilo base es mobile */
  .contenido-comida {
    grid-column: 1 / 6;
    align-items: flex-start;
  }
}
.macros-contenedor { /* Estilos para el contenedor de los macronutrientes */
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
  font-weight: 600;
  justify-content: center;
}
@media (min-width: 455px) { /* Estilos para pantallas medianas, ya que el estilo base es mobile */
  .macros-contenedor {
    flex-wrap: nowrap;
  }
}
.nombre-comida { /* Estilos para el nombre de la comida */
  font-size: 3.2rem;
}
.nombre-comida span {
  font-size: 2.2rem;
  font-weight: 500;
}
.macronutriente {
  text-align: center;
}
.imagen-comida { /* Estilos para la imagen de la comida */
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}
@media (min-width: 690px) { /* Estilos para pantallas medianas, ya que el estilo base es mobile */
  .imagen-comida {
    grid-column: 6 / 7;
  }
}
.boton { /* Estilos para el componente de botón, reutilizado en todas las páginas */
  width: 100%;
  padding: 1.5rem 0;
  border: none !important;
  background-color: var(--primary);
  color: var(--blanco);
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 1rem;
  transition: background-color 0.4s;
}
.boton:hover {
  background-color: #09754a;
  cursor: pointer;
}
.formulario { /* Estilos para el componente formulario, se repite en agregar/editar comidas y en el objetivo */
  display: grid;
  gap: 3rem;
  justify-items: center;
}
.formulario form {
  width: 90vw;
}
@media (min-width: 1100px) { /* Estilos para pantallas grandes, ya que el estilo base es mobile */
  .formulario form {
    width: 50vw;
  }
}
.formulario fieldset {
  border: none;
  padding: 3rem;
  display: grid;
  gap: 2rem;
}
.formulario fieldset legend {
  font-weight: 700;
  font-size: 3rem;
}
.campo label {
  font-size: 2rem;
  font-weight: 600;
  display: block;
}
.campo input,
.campo select,
.formulario input[type="submit"] {
  width: 100%;
  margin-top: 1rem;
  border: 0.2rem solid;
  border-radius: 1rem;
  padding: 1.5rem 1rem;
  text-transform: capitalize;
}
.campo input:focus,
.campo select:focus { /* Estilos para cuando el input esté en uso */
  background-color: #eeeeee;
}
.campo select {
  text-align: center;
}

.contenedor-objetivo { /* Estilos para el contenedor del objetivo */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
}
.contenedor-objetivo svg { /* Estilos para la gráfica del objetivo, que tiene estilos distintos a los del main */
  width: 40vw;
}
@media (min-width: 768px) { /* Estilos para pantallas medianas, ya que el estilo base es mobile */
  .contenedor-objetivo svg {
    width: 25vw;
  }
}
.dos-columnas {
  flex-direction: column;
}
.dos-columnas :first-child {
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .dos-columnas {
    flex-direction: row;
    align-items: center;
    gap: 10vw;
  }
  .dos-columnas div {
    width: 50%;
  }
  .dos-columnas :first-child {
    margin-bottom: 0;
  }
}
.contenido-objetivo {
  width: 100%;
}
.contenido-objetivo p {
  font-weight: 400;
  font-size: 2.4rem;
  text-align: center;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .contenido-objetivo p {
    text-align: left;
  }
}
.contenido-objetivo span {
  font-weight: 700;
  color: #191919;
}
.reset-app { /* Estilos para el botón de resetear la app */
  border: none;
  background-color: #db2777;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: var(--blanco);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 1rem;
  transition-property: background-color;
  transition-duration: 300ms;
}
.reset-app:hover {
  background-color: #c71465;
  cursor: pointer;
}

.not-objetivo { /* Estilos para el componente que aparece si no hay objetivo definido */
  width: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.not-objetivo h1 {
  text-transform: capitalize;
  text-align: center;
}
.not-objetivo h1 span {
  color: var(--grafica);
}
.not-objetivo .boton{ /* Estilos personalizados para la clase boton cuando pertenezca a not-objetivo */
  width: auto;
  padding: 2rem;
  text-decoration: none;
}

/* Para reescribir los estilos por default del paquete de react-swipeable-list y hacerlo responsive */
.swipe-action__leading {
  background-color: var(--azul);
  color: var(--blanco);
}

.swipe-action__trailing {
  background-color: #db2777;
  color: var(--blanco);
}
.swipeable-list {
  width: 90vw !important;
  flex: 0 0 !important;
  overflow-y: visible !important;
}
@media (min-width: 690px) {
  .swipeable-list {
    width: 100% !important;
  }
}
.swipeable-list .swipe-action {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  text-align: right;
}
.swipeable-list-item {
  overflow: visible !important;
}


.error { /* Estilos para el componente de error */
  background-color: #f44336;
  color: var(--blanco);
  padding: 1rem;
  border-radius: 0.6rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
} 
.modal{ /* Estilos para el componente modal */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.contenedor-modal{ /* Estilos para el contenedor de la modal */
  width: 90vw;
  background-color: var(--gris-claro);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
  gap: 3rem;
  position: relative;
}
@media (min-width: 1160px) { /* Estilos para pantallas medianas, ya que el estilo base es mobile */
    .contenedor-modal{
      width: 50vw;
    }
}
.contenedor-modal h3{
  text-transform: capitalize;
  font-size: 3rem;
  text-align: center;
}
.contenedor-modal h3 span:first-child{
  color: var(--azul);
}
.contenedor-modal h3 span:last-child{
  color: #f44336;
}
.contenedor-modal .sombra{
  padding: 0;
}
.imagen-instruccion{
  width: 90%;
}
.cerrar-modal{ /* Estilos para el botón de cerrar la modal */
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 3rem;
  transition: transform .3s;
}
.cerrar-modal:hover{
  transform: scale(1.2);
}