:root {
  --primary: #0a8754;
  --blanco: #ffffff;
  --secundary: #bcffdb;
  --grafica: #00ca71;
  --azul: #3b82f6;
  --gris-claro: #f5f5f5;
} /* Creamos las variables globales en root */
html {
  font-size: 62.5%;
  box-sizing: border-box; /* Para que funcione el rem */
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  appearance: none;
  box-sizing: inherit;
  font-family: "Rubik", sans-serif;
  /*Normalizamos */
}
body {
  font-size: 16px;
  /* Esto lo que hace es que 1rem equivalga a 10px */
  background-color: var(--gris-claro);
}
.sombra { /*Componente sombra utilizado en todos los contenedores */
  box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
  background-color: var(--blanco);
  padding: 4rem;
  border-radius: 1.2rem;
}
.header-layout { /*Útil para todo el header / layout de la página*/
  background-color: var(--primary);
  padding: 2rem 0 3rem 0;
  display: grid;
  justify-items: center;
  row-gap: 5rem;
}
.titulo-app { /* Titulo principal */
  font-size: 6rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--blanco);
  text-align: center;
}
.nav-principal {
  display: flex;
  align-items: flex-end;
  gap: 13vw;
}
.nav-principal a {
  text-decoration: none;
  color: var(--blanco);
  text-transform: uppercase;
  transition: font-size 0.3s 0.1s;
}
.activo {
  font-weight: 500;
  font-size: 2.5rem;
}
.nav-principal a:not(.activo):hover {
  font-size: 1.7rem;
}
.contenedor-outlet {
  padding: 5rem 0;
}
.dieta-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  padding: 0 5rem;
}
@media (min-width: 1310px) {
  .dieta-main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: flex-start;
  }
}
.contenedor-grafica {
  display: grid;
  justify-items: center;
  gap: 5rem;
  width: 90vw;
}
@media (min-width: 768px) {
  .contenedor-grafica {
    width: 50vw;
  }
}
@media (min-width: 1310px) {
  .contenedor-grafica {
    grid-column: 1 / 4;
    width: auto;
  }
}
.sub-titulo {
  font-size: 4rem;
  text-align: center;
  text-transform: capitalize;
}
.CircularProgressbar .CircularProgressbar-text {
  font-size: 0.8rem !important;
  font-weight: 600;
}
.comidas {
  overflow-y: scroll;
  padding: 1rem;
  height: 110vh;
  display: flex;
  flex-direction: column;
  grid-column: 4 / 8;
  gap: 5rem;
}
.comida {
  padding: 2rem;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  cursor: pointer;
}
@media (min-width: 690px) {
  .comida {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}
.contenido-comida {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
}
@media (min-width: 690px) {
  .contenido-comida {
    grid-column: 1 / 6;
    align-items: flex-start;
  }
}
.macros-contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
  font-weight: 600;
  justify-content: center;
}
@media (min-width: 455px) {
  .macros-contenedor {
    flex-wrap: nowrap;
  }
}
.nombre-comida {
  font-size: 3.2rem;
}
.nombre-comida span {
  font-size: 2.2rem;
  font-weight: 500;
}
.macronutriente {
  text-align: center;
  /* background-color: var(--secundary);
  padding: 1rem;
  border-radius: 1rem; */
}
.imagen-comida {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}
@media (min-width: 690px) {
  .imagen-comida {
    grid-column: 6 / 7;
  }
}
.boton {
  width: 100%;
  padding: 1.5rem 0;
  border: none !important;
  background-color: var(--primary);
  color: var(--blanco);
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 1rem;
  transition: background-color 0.4s;
}
.boton:hover {
  background-color: #09754a;
  cursor: pointer;
}

.formulario {
  display: grid;
  gap: 3rem;
  justify-items: center;
}
.formulario form {
  width: 90vw;
}
@media (min-width: 1100px) {
  .formulario form {
    width: 50vw;
  }
}
.formulario fieldset {
  border: none;
  padding: 3rem;
  display: grid;
  gap: 2rem;
}
.formulario fieldset legend {
  font-weight: 700;
  font-size: 3rem;
}
.campo label {
  font-size: 2rem;
  font-weight: 600;
  display: block;
}
.campo input,
.campo select,
.formulario input[type="submit"] {
  width: 100%;
  margin-top: 1rem;
  border: 0.2rem solid;
  border-radius: 1rem;
  padding: 1.5rem 1rem;
  text-transform: capitalize;
}
.campo input:focus,
.campo select:focus {
  background-color: #eeeeee;
}
.campo select {
  text-align: center;
}

.contenedor-objetivo {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
}
.contenedor-objetivo svg {
  width: 40vw;
}
@media (min-width: 768px) {
  .contenedor-objetivo svg {
    width: 25vw;
  }
}
.dos-columnas {
  flex-direction: column;
}
.dos-columnas :first-child {
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .dos-columnas {
    flex-direction: row;
    align-items: center;
    gap: 10vw;
  }
  .dos-columnas div {
    width: 50%;
  }
  .dos-columnas :first-child {
    margin-bottom: 0;
  }
}
.contenido-objetivo {
  width: 100%;
}
.contenido-objetivo p {
  font-weight: 400;
  font-size: 2.4rem;
  text-align: center;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .contenido-objetivo p {
    text-align: left;
  }
}
.contenido-objetivo span {
  font-weight: 700;
  color: #191919;
}
.reset-app {
  border: none;
  background-color: #db2777;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: var(--blanco);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 1rem;
  transition-property: background-color;
  transition-duration: 300ms;
}
.reset-app:hover {
  background-color: #c71465;
  cursor: pointer;
}

.not-objetivo {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.not-objetivo h1 {
  text-transform: capitalize;
  text-align: center;
}
.not-objetivo h1 span {
  color: var(--grafica);
}
.not-objetivo button {
  padding: 1rem 4rem;
  border-radius: 1rem;
  background-color: var(--grafica);
  border: 0.1rem solid;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  color: #191919;
  transition: all 0.4s;
}
.not-objetivo button:hover {
  background-color: var(--primary);
  color: var(--blanco);
}

.swipe-action__leading {
  background-color: var(--azul);
  color: var(--blanco);
}

.swipe-action__trailing {
  background-color: #db2777;
  color: var(--blanco);
}
.swipeable-list {
  width: 90vw !important;
  flex: 0 0 !important;
  overflow-y: visible !important;
}
@media (min-width: 690px) {
  .swipeable-list {
    width: 100% !important;
  }
}
.swipeable-list .swipe-action {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  text-align: right;
}
.swipeable-list-item {
  overflow: visible !important;
}
.error {
  background-color: #f44336;
  color: var(--blanco);
  padding: 1rem;
  border-radius: 0.6rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
}
